/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply some basic styles to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0; /* Remove default margins */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Style for the all-black nav bar */
.nav {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    margin: 0; /* Remove any margins */
}
.nav__logo-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px; /* Adjust the left margin to position GlobeTrek to the right */
}

/* Create a centered container for the form */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px; /* Add some top margin to center the form vertically */
}

/* Style the form header */
.container h2 {
    margin-bottom: 20px;
    color: #333333;
}

/* Style form fields */
.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Add this style for the login button */
.container button {
    width: 100%;
    padding: 10px;
    background-color: #000000; /* Change to black */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #333333; /* Change to a darker shade of black */
}

/* Style the "Don't have an account?" link */
.container p {
    margin-top: 15px;
    font-size: 14px;
    color: #666666;
}

.container a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.container a:hover {
    color: #0056b3;
}